/*Visual Formatting*/
pos
pos:s
pos:a
pos:r
pos:f
t
t:a
r
r:a
b
b:a
l
l:a
z
z:a
fl
fl:n
fl:l
fl:r
cl
cl:n
cl:l
cl:r
cl:b
d
d:n
d:b
d:f
d:if
d:i
d:ib
d:li
d:ri
d:cp
d:tb
d:tbcp
d:tbcl
d:tbclg
d:tbhg
d:tbfg
d:tbr
d:tbrg
d:tbc
d:rb
d:rbb
d:rbbg
d:rbt
d:rbtg
v
v:v
v:h
v:c
ov
ov:v
ov:h
ov:s
ov:a
ovx
ovx:v
ovx:h
ovx:s
ovx:a
ovy
ovy:v
ovy:h
ovy:s
ovy:a
ovs
ovs:a
ovs:s
ovs:p
ovs:m
ovs:mq
zm
cp
cp:a
cp:r
rsz
rsz:n
rsz:b
rsz:h
rsz:v
cur
cur:a
cur:d
cur:c
cur:ha
cur:he
cur:m
cur:p
cur:t