/*Border*/
bd
bd+
bd:n
bdbk
bdbk:c
bdcl
bdcl:c
bdcl:s
bdc
bdc:t
bdi
bdi:n
bdti
bdti:n
bdri
bdri:n
bdbi
bdbi:n
bdli
bdli:n
bdci
bdci:n
bdci:c
bdtli
bdtli:c
bdtri
bdtri:n
bdtri:c
bdbri
bdbri:n
bdbri:c
bdbli
bdbli:n
bdbli:c
bdf
bdf:c
bdf:r
bdf:sc
bdf:st
bdf:ow
bdf:of
bdf:sp
bdlen
bdlen:a
bdsp
bds
bds:n
bds:h
bds:dt
bds:ds
bds:s
bds:db
bds:dtds
bds:dtdtds
bds:w
bds:g
bds:r
bds:i
bds:o
bdw
bt
bdt+
bdt:n
bdtw
bdts
bdts:n
bdtc
bdtc:t
br
bdr+
bdr:n
bdrw
bdrst
bdrst:n
bdrc
bdrc:t
bb
bdb+
bdb:n
bdbs
bdbs:n
bdbc
bdbc:t
bl
bdl+
bdl:n
bdlw
bdls
bdls:n
bdlc
bdlc:t
bdrs
bdtrrs
bdtlrs
bdbrrs
bdblrs