/*Font*/
f
f+
fw
fw:n
fw:b
fw:br
fw:lr
fs
fs:n
fs:i
fs:o
fv
fv:n
fv:sc
fz
fza
fza:n
ff
ff:s
ff:ss
ff:c
ff:f
ff:m
ff:a
ff:t
ff:v
fef
fef:n
fef:eg
fef:eb
fef:o
fem
femp
femp:b
femp:a
fems
fems:n
fems:ac
fems:dt
fems:c
fems:ds
fsm
fsm:a
fsm:n
fsm:aw
fst
fst:n
fst:uc
fst:c
fst:sc
fst:se
fst:e
fst:ee
fst:ue