/*Text*/
va
va:sup
va:t
va:tt
va:m
va:bl
va:b
va:tb
va:sub
ta
ta:l
ta:c
ta:r
ta:j
ta-lst
tal:a
tal:l
tal:c
tal:r
td
td:n
td:u
td:o
td:l
te
te:n
te:ac
te:dt
te:c
te:ds
te:b
te:a
th
th:a
th:f
th:t
th:m
ti
ti:-
tj
tj:a
tj:iw
tj:ii
tj:ic
tj:d
tj:k
tj:t
to
to+
to:n
tr
tr:n
tt
tt:n
tt:c
tt:u
tt:l
tw
tw:n
tw:no
tw:u
tw:s
tsh
tsh:r
tsh:ra
tsh+
tsh:n
lh
lts
lts-n
whs
whs:n
whs:p
whs:nw
whs:pw
whs:pl
whsc
whsc:n
whsc:k
whsc:l
whsc:bs
whsc:ba
wob
wob:n
wob:k
wob:ba
wos
wow
wow:nm
wow:n
wow:u
wow:s
wow:b