/*Background*/
bg
bg+
bg:n
bgc
bgc:t
bgi
bgi:n
bgr
bgr:n
bgr:x
bgr:y
bgr:sp
bgr:rd
bga
bga:f
bga:s
bgp
bgpx
bgpy
bgbk
bgbk:bb
bgbk:eb
bgbk:c
bgcp
bgcp:bb
bgcp:pb
bgcp:cb
bgcp:nc
bgo
bgo:pb
bgo:bb
bgo:cb
bgsz
bgsz:a
bgsz:ct
bgsz:cv